.zoom-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-img);
  padding-bottom: 5em;

  .zoom-img {
    display: block;
    transition: transform 0.3s ease;
    cursor: zoom-in;
  }

  .zoom-img.zoomed {
    transform: scale(2);
    cursor: zoom-out;
  }
  
  p {
    text-align: center;
    font-weight: bold;
  }
}
